
.active {
    background-color: #f5e8d0 !important;
    color: #000 !important; 
    border-color: #f5e8d0 !important; 
}

.active:hover {
    background-color: #e4d1a1 !important;
    color: #000 !important; 
    border-color: #e4d1a1 !important;
}
